{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="row">
    <p>Hi my name is Lou and I have twin boys who are now 10 years old. They are very interested in computers and how they work. So I am creating this website as a way to help teach them how to use the command line.</p>
    <p>The only way to interact with the computer was through a terminal. This taught me that a computer is not just a bunch of clicking with hidden things making what you want happen. To load a video game I had to actually navigate to the directory (or folder as what it’s called in Windows now), and then list all the files in that directory. After listing the files, I had to know what the actual extensions meant and what they did so I could run the game (extensions are the abbreviations that come after the files name like .exe on the file simant.exe).</p>
    <p>To me that made computers fascinating and fun to use. Once Windows took over, the command line faded away to lots and lots of clicking on a mouse. Hopefully through this site I can help beginners learn and become comfortable with using the C:\>_.</p>
</div>

{% endblock %}

